.actionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.actionsContainer > button {
  padding: 2px 5px;
}

.buttonValidate {
  width: 100%;
  margin-top: 10px;
  padding: 2px 5px;
}

.userPictureContainer {
  margin-top: 10px;
}
.leftUserPicture {
  background-color: #5ba27d30;
}
.rightUserPicture {
  background-color: #a52a2a30;
}

.leftUserPicture > img {
  width: 100%;
}
.rightUserPicture > img {
  width: 100%;
}
